logging
pathlib
streamlit
io
uuid
spacy
time
langchain_core
langchain_community
ultralytics
dotenv
langchain
scikit-learn
numpy
pandas
pickle
langchain_huggingface
json
http
re 
random
PIL 
langchain_groq
pymupdf
PyPDF2
